<mat-drawer-container class="main-container">
  <mat-drawer class="main-container__drawer padding-12" mode="side" opened>
    <app-drawer-panel></app-drawer-panel>
  </mat-drawer>
  <mat-drawer-content class="padding-12">
    <app-drawer-content></app-drawer-content>
  </mat-drawer-content>
</mat-drawer-container>
