<ng-container *ngIf="data">
  <ng-container *ngIf="data.links as links">
    <li *ngFor="let link of links">
      <a [routerLink]="link.url">{{ link.name }}</a>
    </li>
  </ng-container>
</ng-container>
